.committeesPage {
  min-height: 90vh;
  padding: 0 2rem;
  margin-bottom: 7.5vh;

  .title {
    h1 {
      margin-top:0vh;
      color: orange;
      font-family: 'JetBrains Mono', monospace;
      font-size: 6rem;
      text-align: center;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }

  .card {
    background: rgba(150, 70, 0, 0.2   ); /* 0.7 is the opacity value */
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  

    &:hover {
      transform: scale(1.015);
    }

    h2 {
      font-family: 'JetBrains Mono', monospace;
      color: white;
      font-size: 1.5rem;
    }

    p {
      font-family: 'JetBrains Mono', monospace;
      color: grey;
      font-size: 1rem;
    }
  }

  /* .webCard {
    grid-column: span 4;
    grid-row: span 2;
  }

  .linuxCard {
    grid-column: span 3;
    grid-row: span 6;
  }

  .ccCard {
    grid-column: span 5;
    grid-row: span 1;
  }

  .hrCard{
    grid-column: span 1;
    grid-row: span 1;
  }

  .prCard {
    grid-column: span 1;
    grid-row: span 1;
  }

  .blenderCard {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gameCard{
    grid-column: span 2;
    grid-row: span 4;
  }

  .uiCard {
    grid-column: span 1;
    grid-row: span 4;
  }

  .flutterCard {
    grid-column: span 4;
    grid-row: span 1;
  }

  .stCard {
    grid-column: span 4;
    grid-row: span 3;
  }

  */
}