$button-bg: rgba(255, 255, 255, 0.1);
$button-active-bg: orange;
$button-text-color: #fff;
$button-border-radius: 30px;
$button-padding: 10px 20px;
$button-font-size: 1rem;
$card-bg: rgba(255, 255, 255, 0.06);
$card-border: 2px solid orange;
$card-hover-transform: scale(1.02);
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.committeesPage {
  min-height: 100vh;
  .title {
    text-align: center;
    margin-bottom: -5vh;
    h1 {
      font-size: 6vw;
      color: orange;
      font-family: 'JetBrains Mono', monospace;
    }
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    background-color: $button-bg;
    border-radius: $button-border-radius;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom:9vh;
    text-align:center;


    
    .filter-btn {

      
      &.active {
        color: $button-text-color;
      }
      
      &:hover:not(.active) {
        color: darken($button-text-color, 10%);
      }
    }
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 15px;
      background: $card-bg;
      backdrop-filter: blur(10px);
      box-shadow: $card-shadow;
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s ease, border 0.3s ease;
      position: relative;
      
      &:hover {
        transform: $card-hover-transform;
        border: $card-border;
      }
      
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-family: 'JetBrains Mono', monospace;
      }
      
      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 5px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .slider {
    position: absolute;
    height: calc(100% - 10px);
    background-color: orange;
    border-radius: 25px;
    top: 5px;
    left: 5px;
  }

  .filter-btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;

    &.active {
      color: #fff;
    }

    &:hover:not(.active) {
      color: darken(#fff, 10%);
    }
  }
}
