$nGreen: #b7d435;
$eBlue: #240090;
$wGrey: #83836c;
$lwGrey: #AEAE9D;
$pg: rgb(62, 234, 202);

.footer{
  height: 5vh;
  padding-bottom: 5vh;
  bottom: 0;

  .time{
    p{
      font-size: 1rem;
      color: rgb(255, 149, 0);
      margin-bottom: 0px;
    }
  }

  // .footerIcons{
  //   display: flex;
  //   justify-content: center;
  //   height: 4vh;

  //   li{
  //     list-style-type: none;
  //     padding: 0.69rem;
    
  //   img{
  //     height:3vh;
  //     &:hover{
  //       fill:white;
  //     }
  //   }
  //   }
  // } 

p{
  font-family: jetBrains mono;
  color:$lwGrey;
  font-size: 0.8rem;
  text-align: center;
}

}