main {
  .hero {
    min-height: 85vh;
    user-select: none; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding-top: 10vh; 

    #osctxt {
      margin-top: 0; 
      font-size: 8.3rem;
      color: rgb(204, 128, 28);
      font-family: abcB;
      width: 35%;
      line-height: 7rem;
      margin-bottom: 2vh; 
    }
    
    .more {
      margin-left:1vw;
      position: relative; 
      margin-top: 2vh; 
      
      h3 {
        font-family: jetbrains mono;
        color: #ffffff;
        opacity: 0.75;
        display: inline-block;

        &:hover {
          opacity: 1;
        }
      }

      .arrow {
        display: inline-block;
        transition: transform 0.3s ease; 
      }

      &:hover .arrow {
        transform: translateX(5px); // Moves the arrow to the right on hover
      }

      &:hover {
        cursor: pointer;
      }

      img {
        height: 30px; 
      }
    }
  }

  .About {
    min-height: 95vh;
    flex-direction: column;
    font-family: jetbrains mono;

    h1 {
      margin-top:0vh;
      font-size: 6rem;
      margin-right: 10vw;
      color: rgb(204, 128, 28);
      margin-bottom: 7.5vh;
    }
    h2 {
      color: #f9c320;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
      a {
        text-decoration: underline 1px dashed;  
        color: #f9d120;
      }
    }
  }
}
