@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@font-face {
  font-family: 'marlinB';
  src: url('../fonts/MarlinSoftSQ-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'abcB';
  src: url('../fonts/ABCFavoritMono-Bold.woff2') format('woff2');
}

:root {
  padding-left: 8vw;
  padding-right: 8vw;
  color-scheme: light dark;
  background-color: #0a0a0a;
  position: relative; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/stars.png') repeat; 
    opacity: 0.2; 
    pointer-events: none;
  }
}

::selection {
  background-color: #f9c320; 
  color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 


    .header {
        background-color: #333;
        color: #fff;
        padding: 1rem;
    }
    
}


body{
    overflow-x:hidden;
}

svg {
  position: absolute;
  top: 0;
  margin-top:25vh;
  margin-left:67vw;
  filter: blur(30vw);
  @keyframes colorChange1 {
    0%, 100% { fill: var(--color1, rgb(204, 128, 28)); } // Use default color if var(--color1) is not defined
    50% { fill: var(--color2, #f9c320); } // Use default color if var(--color2) is not defined
  }

  path {
    animation: colorChange1 8s infinite linear;
  }

}