nav {
  padding-top: 2rem;
  top: 0;
  align-items: center;
  display: flex; 
  justify-content: space-between;

  .logo {
    img {
      height: 3.4rem;
      margin-right: 3rem; 
      transition: height 0.2s;
    }
  }

  ul {
    list-style: none;
    padding: 10px;
    margin: 0; 
    display: flex;
    justify-content: center;
    flex-grow: 1;

    li {
      border-bottom: 2px dashed #f9d120; 
      display: inline-block;
      font-family: "JetBrains Mono", monospace;
      font-size: 1.4rem;
      margin-right: 2.5rem;

      a:hover {
        color: #f9d120;
      }
    }
  }

  a {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
