div.postCard {
  max-width: 60vw;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.06); /* Slight white tint with transparency */
  backdrop-filter: blur(10px); /* Glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


div.postCard:hover {
  border: 2px solid orange;
  transition: 50ms;
}

.title {
  font-family: jetBrains mono;
  margin: 0;
  font-size: 32px;
}

.puplisherInfo {
  font-size: 14px;
  margin: 5px 0 5px 0;
  color: rgb(236, 154, 0);
}

.discription {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

/* arrow */
.titleContainer {
  display: flex;
  text-align: center;
}

/*  */



